@page
@model JohariWindow.Pages.ClientPage.AdjectiveModel
@{
}

<div>
    <h1>Welcome to the Client Page!</h1>
    <h4>Select 12 positive adjectives and 7 negative adjectives about yourself!</h4>
    <form method="post">
        <div class="text-left">
            <br />
            <br /> 
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Positive Adjectives</p>
                        @{ for (int i = 0; i < Model.Adjectives.Count; i++)
                            {
                                if (Model.Adjectives[i].Value == "True")
                                {
                                    var j = i + 1;
                                    <input asp-for="@Model.Adjectives[i].Value" type="hidden" />
                                    <input asp-for="@Model.Adjectives[i].Text" type="hidden" />
                                    {
                                        <input asp-for="@Model.Adjectives[i].Selected" /> @Model.Adjectives[i].Text
                                    }

                                    if (j % 1 == 0)
                                    {
                                        <br />
                                    }
                                }
                                else
                                {
                                    continue;
                                }

                            }
                        }
                    </div>
                    <div class="col-6">
                        <p>Negative Adjectives</p>
                        @{ for (int i = 0; i < Model.Adjectives.Count; i++)
                            {
                                if (Model.Adjectives[i].Value == "False")
                                {
                                    var j = i + 1;
                                    <input asp-for="@Model.Adjectives[i].Value" type="hidden" />
                                    <input asp-for="@Model.Adjectives[i].Text" type="hidden" />
                                    {
                                        <input asp-for="@Model.Adjectives[i].Selected" /> @Model.Adjectives[i].Text
                                    }

                                    if (j % 1 == 0)
                                    {
                                        <br />
                                    }
                                }
                                else
                                {
                                    continue;
                                }

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br/>
    <br />
    <div class="form-group mt-2">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</div>
