@page
@model JohariWindow.Pages.FriendPage.AdjectiveModel
@{
    Layout = "/Pages/_FriendPageLayout.cshtml";

}

<div>
    <br />
    <br />
    <h1>Johari Window Anonymous Survey</h1>
    <br />
    <h4>Please follow the steps below before proceeding:</h4>
    <br />
    <form method="post">
        <div class="text-left">
            <p>1. Enter the code given to you by your friend:</p>
            <input type="text" id="clientCode"name="FriendObject.ClientId" value="@Model.FriendObject.ClientId" />
            <br />
            <br />
            <p>2. What is your relationship to the person who referred you to this survey? (Mother, father, brother, sister, friend, etc.)</p>
            <input type="text" id="relationshipField"name="FriendObject.Relationship" value="@Model.FriendObject.Relationship" />
            <br />
            <br />
            <p>3. How many years have you known this person?</p>
            <input type="text" id="howLongField" name="FriendObject.HowLong" value="@Model.FriendObject.HowLong" />
            <br />
            <br />
            <h5>Select 12 positive adjectives and 7 negative adjectives that describe the person who referred you to this test!</h5>
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Positive Adjectives</p>
                        @foreach (var adjective in Model.FriendObject.ListOfAdjectives)
                        {
                            if (adjective.AdjType == true)
                            {
                                <input type="checkbox" name="Adjectives" value="@adjective.AdjectiveId" id="positiveCB" /> @adjective.AdjName
                                <br />
                            }

                        }

                    </div>
                    <div class="col-6">
                        <p>Negative Adjectives</p>
                        @foreach (var adjective in Model.FriendObject.ListOfAdjectives)
                        {
                            if (adjective.AdjType == false)
                            {
                                <input type="checkbox" name="Adjectives" value="@adjective.AdjectiveId" id="negativeCB" /> @adjective.AdjName

                                <br />
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Submit" class="btn btn-primary" onclick="return validateCheckboxes()" />
        </div>
    </form>
    <br />
    <br />

</div>
@section Scripts{
    <script>


        function validateCheckboxes() {
            var inputElems = document.getElementsByTagName("input"), posCount = 0, negCount = 0;

            for (var i = 0; i < inputElems.length; i++) {
                if (inputElems[i].type == "checkbox" && inputElems[i].id == "positiveCB" && inputElems[i].checked == true) {
                    posCount++;
                }
                if (inputElems[i].type == "checkbox" && inputElems[i].id == "negativeCB" && inputElems[i].checked == true) {
                    negCount++;
                }
            }

            if (posCount > 12) {
                swal({
                    title: "Warning: Too Many Positive Adjectives Selected",
                    text: "More than 12 Positive adjectives selected. Please select only 12.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (posCount < 12) {
                swal({
                    title: "Warning: Not Enough Positive Adjectives Selected",
                    text: "Less than 12 Positive adjectives selected. Please select at least 12.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (negCount > 7) {
                swal({
                    title: "Warning: Too Many Negative Adjectives Selected",
                    text: "More than 7 Negative adjectives selected. Please select only 7.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (negCount < 7) {
                swal({
                    title: "Warning: Not Enough Negative Adjectives Selected",
                    text: "Less than 7 Negative adjectives selected. Please select at least 7.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (document.getElementById("clientCode").value == "") {
                swal({
                    title: "Missing Code",
                    text: "Please enter the supplied code.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (document.getElementById("relationshipField").value == "") {
                swal({
                    title: "Missing Relationship Data",
                    text: "Please enter your relationship to the person who referred you before proceeding.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (document.getElementById("howLongField").value == "") {
                swal({
                    title: "Missing  Data",
                    text: "Please enter how long in years you have known the person who referred you before proceeding.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                return false;
            }

            if (posCount == 12 && negCount == 7) {
                return true;
            }
        }

    </script>
}

