@page
@model JohariWindow.Pages.Admin.AdminModel
@{
}
<link rel="stylesheet" type="text/css" href="~/css/selectize.bootstrap4.css" />
<div>
    <h1>Admin Page</h1>
    <br />
    <p>Select a client name to generate their Johari window:</p>
    <form method="post">
        <select id="searchClient" type="select-one" style="width: 225px; height: 30px; text-align: center">
            <option selected="selected"></option>
            @{
                foreach (var client in @Model.AdminPageObject.ClientListData)
                {
                    <option value="@client.ClientId">@client.ClientFullName</option>
                }
            }
        </select>
        <button asp-page-handler="BuildJohari" type="submit" id="btnRetrieveClient" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <div class="container" style="height:  30rem;">
        <div class="row">
            <div class="col-6" style="height: 15rem; overflow-y: scroll">
                <div class="card col-12 text-center justify-content-center">
                    <b>OPEN SELF</b>
                    <div class="row ">
                        @{
                            if (Model.AdminPageObject.OpenSelfSlot == null)
                            {
                            }
                            else
                            {
                                @foreach (var choice in Model.AdminPageObject.OpenSelfSlot)
                                {
                                    @if (choice.chosenCount == 1)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount == 2)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount >= 3)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            <u>@choice.Adjective</u>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-6" style="height: 15rem; overflow-y: scroll">
                <div class="card col-12 text-center justify-content-center">
                    <b>BIND SELF</b>
                    <div class="row ">
                        @{
                            if (Model.AdminPageObject.BlindSelfSlot == null)
                            {
                            }
                            else
                            {
                                @foreach (var choice in Model.AdminPageObject.BlindSelfSlot)
                                {
                                    @if (choice.chosenCount == 1)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount == 2)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount >= 3)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            <u>@choice.Adjective</u>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6" style="height: 15rem; overflow-y: scroll">
                <div class="card col-12 text-center justify-content-center ">
                    <b>HIDDEN SELF</b>
                    <div class="row ">
                        @{
                            if (Model.AdminPageObject.HiddenSelfSlot == null)
                            {
                            }
                            else
                            {
                                @foreach (var choice in Model.AdminPageObject.HiddenSelfSlot)
                                {
                                    @if (choice.chosenCount == 1 || choice.chosenCount == 0)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount == 2)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount >= 3)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            <u>@choice.Adjective</u>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-6" style="height: 15rem; overflow-y: scroll">
                <div class="card col-12 text-center justify-content-center">
                    <b>UNKNOWN SELF</b>
                    <div class="row ">
                        @{
                            if (Model.AdminPageObject.UnknownSelfSlot == null)
                            {
                            }
                            else
                            {
                                @foreach (var choice in Model.AdminPageObject.UnknownSelfSlot)
                                {
                                    @if (choice.chosenCount == 1 || choice.chosenCount == 0)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount == 2)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            @choice.Adjective
                                        </div>
                                    }
                                    @if (choice.chosenCount >= 3)
                                    {
                                        <div class="card d-flex col-4 text-center align-content-center justify-content-center font-weight-bold" style="height: 35px">
                                            <u>@choice.Adjective</u>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

@section Scripts{
    <script type="text/javascript" src="~/js/selectize.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchClient').selectize({
                create: false,
                sortField: "text",
                searchField: ["text"],
                maxOptions: 5,
                maxItems: 1,
                closeAfterSelect: true,
                placeholder: "Type to search for client...",
                onChange: function (value) {
                    $('#btnRetrieveClient').attr("formaction", function () {
                        return $(this).attr("formaction") + "&clientId=" + value;
                    });
                }
            });
        });
    </script>

}
